{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "extends": [
      "standard",
      "standard-jsx"
    ],
    "rules": {
        "semi": [0],
        "space-before-function-paren": ["error", {
          "anonymous": "never",
          "named": "never",
          "asyncArrow": "always"
        }],
        "jsx-quotes": ["error", "prefer-double"]
    }
}
